.DS_Store
*/xcshareddata/IDEWorkspaceChecks.plist
xcuserdata/
Artifacts/
iOS/private_keys/
iOS/Certificates/
iOS/Configurations/Signing.xcconfig
macOS/private_keys/
macOS/Certificates/
macOS/Configurations/Signing.xcconfig
Shared/Resources/sound_font.sf2
Screenshots/
